* {
    /* Падинги не будут влиять на внешние размеры элемента, только на внутренние */
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.header{
    height: 110px;
    border-bottom: 1px solid #e4e4e4;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}


.nav-list{
    display: flex;
    margin: auto;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-item{
    font-size: 15px;
    line-height: 1;
}

.nav-link{
    color: #1c1c1c;
}

.nav-item.is-active .nav-link{
    color: #3172b9;
}

.header-btn{
    margin-left:80px;
}

.btn{
  display: inline-block;
  background-color: #3172b9;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  font-size: 15px;
  padding: 15px 30px;
  border-radius: 4px;
  cursor: pointer;
}

.btn.btn-big{
    padding: 20px 60px;
}

.text-center{
    text-align: center;
}

/* Hero */

.section-hero{
    background: url('/img/Base.png') right center no-repeat white;
    background-size: contain;
}

.hero-container{
    padding-top: 120px;
    padding-bottom: 130px;
}
.hero-content{
    max-width: 60%;
}

.section-hero-heading{
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 52px;
    font-weight: 300;
    color: #1c1c1c;
}

.section-hero-description{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 25px;
    color:#787878;
}

.section-hero-action{
    display: inline-block;
}

.section-hero-ssl-icon{
    display: inline-block;
    width: 13px;
    height: 17px;
    margin-right: 10px;
    background: url('/img/Shield-icon.png') center center no-repeat transparent;
    background-size: contain;
    transform: translateY(-1px);
}

.section-hero-btn-description{
    margin-top: 10px;
    font-size: 11px;
    line-height: 1;
    color: #787878;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* what we do */

.section-do{
    padding-top: 140px;
    padding-bottom: 140px;
    border-bottom: 1px solid #e4e4e4;
}

.section-description{
    margin-top: 25px;
    margin-top: 0;
    font-size: 16px;
    line-height: 1.31;
    color: #787878;
}

.section-do-list{
    margin-top: 50px;
}

.section-do-list{
    display: flex;
}

.section-do-item{
    flex: 1 1 25%;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    display: flex;
    padding: 60px 30px;
    flex-direction: column;
    align-items: center;
}

.section-do-item-description{
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    color: #787878;
    font-weight: 300;
    margin-top: 0;
}

.section-do-item:not(:last-child){
    margin-right: 30px;
}

.section-do-item-heading{
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 1;
    color: #1c1c1c;
    font-weight: 600;
    margin-top: 33px;
}

/* section clients */

.section-clients{
    padding-top: 90px;
    padding-bottom: 100px;
    border-bottom: 1px solid #e4e4e4;
}

.section-clients-heading{
    margin-bottom: 45px;
}

.section-heading{
    margin-top: 0px;
    margin-bottom: 44px;
    font-size: 36px;
    line-height: 1.3;
    font-weight: 300;
}

.section-clients-list{
    display: flex;
}

.section-clients-list-item{
   flex: 1 1 33.33%;
   padding: 50px 35px 30px;
   border: 1px solid #e4e4e4;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.section-clients-testimonial{
    margin-top: 0;
    margin-bottom: 35px;
    color: #787878;
    line-height: 25px;
    font-weight: 300;
    font-size: 14px;
}

.section-clients-list-item:not(:last-child){
    margin-right: 30px;
}

.section-clients-user{
    display: flex;
    align-items: center;
    padding-top: 28px;
    border-top: 1px solid #e9e9e9;
}

.section-clients-username{
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    color: #1c1c1c;
}

.section-clients-user-desription{
    font-size: 14px;
    line-height: 25px;
    color: #787878;
}

.section-clients-avatar{
    margin-right: 18px;
    width: 60px;
    height: 60px;
    border: 2px solid #3172b9;
    border-radius: 50%;
}

/* contact */

.section-contacts{
    padding-top: 85px;
    padding-bottom: 95px;
    border-bottom: 1px solid #e4e4e4;
}

.section-heading{
    margin-bottom: 44px;
}

.section-contacts-list{
    display: flex;
    width: 1200px;
    margin-top: 43px;
    justify-content: space-between;
}

.section-contacts-item{
    flex: 1 1 33.33%;
}

.section-contacts-info{
    min-width: 250px;
}

.section-contacts-icon{
    display: block;
    height: 30px;
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: auto 100%;
    background-color: transparent;
}

.section-contacts-icon-gps{
    background-image: url('/img/gps.png');
    background-size: auto 26px;
}

.section-contacts-icon-phone{
    background-image: url('/img/phone.png');
    background-size: auto 26px;
}

.section-contacts-icon-mail{
    background-image: url('/img/mail.png');
    background-size: auto 19px;
}

.section-contacts-heading{
    display: block;
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 1;
    color: #1c1c1c;
}

.section-contacts-link{
    color: #1c1c1c;
}

.section-contacts-info{
    font-size: 14px;
    line-height:25px;
    color: #787878;
}


/* form */

.section-form{
    padding-top: 85px;
    padding-bottom: 95px;
    border-bottom: 1px solid #e4e4e4;
}

.form-title{
    text-align: center;
    font-size: 36px;
    font-weight: 300;
}

.form-description{
    font-size:16px;
    line-height: 21px;
    text-align:center;
    color: #787878;
}

.form{
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
}

.input, 
.btn-submit{
    flex: 0 0 calc(25% - 15px);
    height: 60px;
    border-radius:30px;
}

.btn-submit{
    background-color: #3172b9;
    color: white;
    border: none;
}

.input{
    padding: 0 30px;
    border: 1px solid #dadada;
    border-radius: 30px;
}

.input::placeholder{
    color:#787878;
}

/* footer */

.footer{
    height: 125px;
}

.footer-container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-content: center;
}

.footer-logo{
    margin-right: 25px;
}

.footer-nav{
    display: flex;
}

.footer-nav-list{
    margin-right: 55px;
}

.footer-left{
    display: flex;
    align-items: center;
}

.footer-right{
    display: flex;
    align-items: center;
}

.footer-nav-list{
    display: flex;
}

.footer-nav-item{
    font-size: 14px;
    line-height: 1;
}

.footer-nav-item:not(:last-child){
    margin-right: 35px;
}

.footer-social-icon{
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
}

.footer-social-list{
    display: flex;
    align-items: center;
}

.footer-social-item:not(:last-child){
    margin-right: 30px;
}

.footer-social-icon-twitter{
    background-image: url('/img/Twitter.svg');
    width: 18px;
    height: 15px;
    opacity: 80%;
}

.footer-social-icon-linkedin{
    background-image: url('/img/Linkedin.svg');
    width: 18px;
    height: 19px;
    opacity: 80%;
    transform: translateY(-2px);
}


.footer-social-icon-email{
    background-image: url('/img/Email.svg');
    width: 24px;
    height: 17px;
    opacity: 80%;
}

.footer-copyrights{
    font-size: 12px;
    line-height: 17px;
    color: #787878;
}

.footer-nav-link{
    color: #787878;
}
